<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <h1>Registros da COVID-19</h1>
        <p>Esta aplicação exibe o número de casos de COVID-19 reportados ao redor do mundo.</p>
        <p ></p>


        <div class="jumbotron">
            <h1 class="display-4" th:text="${totalReportedCases}"></h1>
            <p class="lead">Número total de casos</p>
            <hr class="my-4">
            <p>
                <span>Novos casos desde ontem:</span>
                <span th:text="${totalNewCases}"></span>

            </p>
        </div>

        <table class="table">
            <tr>
                <th>País</th>
                <th>Estado</th>
                <th>Casos Reportados</th>
                <th>Aumento Diário</th>
            </tr>
            <tr th:each="locationStat : ${locationStats}">
                <td th:text="${locationStat.country}"></td>
                <td th:text="${locationStat.state}"></td>
                <td th:text="${locationStat.latestTotalCases}">0</td>
                <td th:text="${locationStat.diffFromPrevDay}">0</td>
            </tr>
        </table>
    </div>

</body>

</html>